  /* Product Card */
  .product-card {
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(from CanvasText r g b / 20%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  
  .product-model {
    width: "100px";
    height: "200px";
    --xr-depth: 100;
    background-color: ;
  }

  .product-name {
    margin: 0.75rem 0 0.25rem;
    font-size: 1rem;
  }

  .product-description {
    margin: 0;
    font-size: 0.85rem;
  }

  .product-price {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .product-3D{
    width: 100px;
    height: 200px;
    --xr-depth: 100px;
  }
}