.productPage {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  padding: 2rem;

  .header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .main {
    display: flex;
    gap: 2rem;
    flex: 1;
  }

  .product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
